@model IEnumerable<Expense_Vendor_Management.Models.CostCenterExpense>

@{
    ViewData["Title"] = "AllVendorForms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="nk-block nk-block-lg">
    <div class="nk-block-head">
        <div class="nk-block-head-content">
            <h4 class="nk-block-title">Branch Expenses</h4>

        </div>
    </div>
    <div class="card card-preview">
        <div class="card-inner">

            <table class="datatable-init-export nowrap table">
                <thead>
                    <tr>
                        <th>
                            Cost Cente ID
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Category
                        </th>


                        <th>
                            Amount

                        </th>


                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.vandorName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.expenseCategory)
                            </td>


                            <td>
                                @Html.DisplayFor(modelItem => item.amount)
                            </td>



                            <td>
                                <a href="~/ActionCenter/CostactionCenter?ID=@item.id">
                                    Details
                                </a>


                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div><!-- .card-preview -->
</div>

<script type="text/javascript">

    function DeleteInvoice(id) {

        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!'
        }).then(function (result) {
            if (result.value) {
                $.ajax({
                    url: '/InvoiceSide/DeleteInvoice'
                    , type: 'GET'
                    , data: { id: id }
                    , contentType: 'application/json'
                    , success: function (response) {

                        Swal.fire('Deleted!', 'Your file has been deleted.', 'success');
                        location.reload();
                    }
                });

            }
        });

    }

</script>








