@model LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/theme/assets/css/index.css">
	
    <title>HASH TECHIE OFFICIAL</title>
    <style>
       .bgimg {
            position: fixed;
            bottom: 0;
            left: 0;
            height: 100%;
            width:100%;
            z-index: -1;
            /* You can adjust background properties such as size, position, and repeat here if needed */
        }
    </style>
</head>
<body >
    <img class="bgimg" src="~/theme/assets/images/loginbg.jpg" />
  <div class="container">
    <section>
        <div class="form-box">
            <div class="form-value">
                    <p style="font-weight:bold;font-size:32px; color:white; text-align:center; margin-bottom:60px;">Welcome</p>

                    <center><img src="~/theme/assets/images/logo.png" style="width:150px; height:150px; " /></center>
               
                        @{
                            if (Model.Externallogin.Count == 0)
                            {
                                <p>No External Login Provide</p>
                            }
                            else
                            {
                                <form method="post" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">

                                    @foreach (var item in Model.Externallogin)
                                    {
                                    <button type="submit" name="provider" title="Login using your @item.Name account" value="@item.Name" class="btn  full-width" style="background-color:#020558;color:white;margin-top:10px ">
                                            <p style="font-weight:bold;font-size:22px"> @item.Name</p>
                                        </button>
                                    }
                                </form>
                            }
                        }
                   
                   
                 
                 
              
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </div>
</body>
</html>