
@{
    ViewData["Title"] = "NoAccess";

}


  
        
                <div class="nk-block nk-block-middle wide-md mx-auto">
                    <div class="nk-block-content nk-error-ld text-center">
                        <img class="nk-error-gfx" src="./images/gfx/error-404.svg" alt="">
                        <div class="wide-xs mx-auto">
                            <h3 class="nk-error-title">You Don't have any Access?</h3>
                            <p class="nk-error-text">We are very sorry for inconvenience. Currently You do not have Access of this App. Please Contact to Administrator</p>
            <a href="mailto:consulting@rizemtg.com" class="btn btn-lg btn-primary mt-2">Send Email</a>
                        </div>
                    </div>
                </div><!-- .nk-block -->
     

