
@{
    Layout = null;
    ViewData["Title"] = "NoAccess";
}
<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <base href="../">
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers.">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="./images/favicon.png">
    <!-- Page Title  -->
    <title>RIZE MORTGAGE</title>


    <!-- StyleSheets  -->
    <link rel="stylesheet" href="~/Theme/assets/css/dashlite.css">
    <link id="skin-default" rel="stylesheet" href="~/Theme/assets/css/theme.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<body class="nk-body npc-default has-apps-sidebar has-sidebar ">
        
                <div class="nk-block nk-block-middle wide-md mx-auto">
                    <div class="nk-block-content nk-error-ld text-center">
                        <img class="nk-error-gfx" src="./images/gfx/error-404.svg" alt="">
                        <div class="wide-xs mx-auto">
                            <h3 class="nk-error-title">You Don't have any Access?</h3>
                            <p class="nk-error-text">We are very sorry for inconvenience. Currently You do not have Access of this App. Please Contact to Administrator</p>
            <a href="mailto:consulting@rizemtg.com" class="btn btn-lg btn-primary mt-2">Send Email</a>
                        </div>
                    </div>
                </div><!-- .nk-block -->
     

    <script src="~/Theme/assets/js/bundle.js"></script>
    <script src="~/Theme//assets/js/scripts.js"></script>

</body>

</html>