@model Expense_Vendor_Management.Models.CostCenterExpense

@{
    ViewData["Title"] = "Cost Expense";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .mandatory {
        color: red;
    }
</style>

<div class="nk-block nk-block-lg">
    <div class="nk-block-head">
        <div class="nk-block-head-content">
            <h4 class="title nk-block-title">Basic Details Cost Expense Form</h4>
        </div>
    </div>
    <div class="card card-bordered">
        <div class="card-inner">
            <div class="card-head">
                <h5 class="card-title">Cost Expense Form</h5>
            </div>
            <form asp-action="CostExpenseForm" asp-controller="AllForms" id="fileuploadlist" enctype="multipart/form-data" method="post">
                <div class="row g-4">
       
                    <input type="hidden" asp-for="notes" value="Intial Insert"/>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="expenseOccurred">
                                Amount<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <input class="form-control" type="number" asp-for="amount" required>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="expenseDate">
                                Incurred Date<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <input class="form-control" type="date" id="expenseDate" asp-for="expenseAccurred" required>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="expenseCategory">
                                Expense Category<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <select class="form-select" id="expenseCategory" asp-for="expenseCategory">
                                    <option value="">Select Expense Category</option>
                                    <option value="Administrative">Administrative</option>
                                    <option value="Communication">Communication</option>
                                    <option value="Dues & Subscriptions">Dues & Subscriptions</option>
                                    <option value="Education">Education</option>
                                    <option value="Lodging">Lodging</option>
                                    <option value="Marketing (including lunch & learns)">Marketing (including lunch & learns)</option>
                                    <option value="Meals & Entertainment (deductible at 50%)">Meals & Entertainment (deductible at 50%)</option>
                                    <option value="Mileage">Mileage</option>
                                    <option value="Office Supplies">Office Supplies</option>
                                    <option value="Travel">Travel</option>

                                    <!-- Add more options here if needed -->
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="vendorName">
                                Vendor Name<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <input type="text" required class="form-control" id="vendorName" asp-for="vandorName">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="supportingDocs">
                                Supporting Documents<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <input required type="file" id="supportingDocs" asp-for="SupportingMedia" accept=".pdf, .doc, .docx">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="expenseDescription">
                                Description <span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <textarea class="form-control" type="number" asp-for="expenseDescription" required style="min-height:auto;"></textarea>
                            </div>
                        </div>
                    </div>

          

                    <div class="col-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-lg btn-primary">Submit</button>
                        </div>
                    </div>
                    <div class="col-12">
                        <h8>Per company policy if a branch is not fully reserved managers are not approved to spend in excess off the expenses already being paid by the branch.  Any expenses submitted in that situation are unauthorized and will not be reimbursed through the cost center.  You may, however be able to use the employee expense- Tax Benefit Plan.  If you have any questions or concerns please contact your direct manager or the finance department</h8>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
