@model Expense_Vendor_Management.Models.CostCenterExpense

@{
    ViewData["Title"] = "Cost Expense";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<style>
    .mandatory {
        color: red;
    }

    @@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&display=swap');


    .tooltip-container {
        cursor: pointer;
        position: relative;
        display: inline-block;
    }

    .tooltip {
        opacity: 0;
        z-index: 99;
        color: #bbb;
        width: 300px;
        display: block;
        font-size: 13px;
        font-family: 'cairo',serif;
        padding: 5px 10px;
        border-radius: 3px;
        text-align: center;
        text-shadow: 1px 1px 2px #111;
        background: rgba(51,51,51,0.9);
        border: 1px solid rgba(34,34,34,0.9);
        box-shadow: 0 0 3px rgba(0,0,0,0.5);
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        position: absolute;
        right: -180px;
        bottom: 30px;
    }

        .tooltip:before, .tooltip:after {
            content: '';
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid rgba(51,51,51,0.9);
            position: absolute;
            bottom: -10px;
            left: 43%;
        }

    .tooltip-container:hover .tooltip, a:hover .tooltip {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
</style>


<div class="nk-block nk-block-lg">
    <div class="nk-block-head">
       
    </div>
    <div class="card card-bordered">
        <div class="card-inner">
            <div class="card-head">
                <h5 class="card-title">New Submission</h5>
            </div>
            <form asp-action="CostExpenseForm" asp-controller="AllForms" id="fileuploadlist" enctype="multipart/form-data" method="post">
                <div class="row g-4">
                 
                    <input type="hidden" asp-for="notes" value="Intial Insert"/>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" style="color:#241c4f" for="expenseOccurred">
                                Amount<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <div id="fixedAmountWrap" class="input-group hidden">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    <input type="number" id="amount" asp-for="amount" class="form-control" placeholder="Enter Amount" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label tooltip-container" for="expenseDate">
                                <div class="form-icon form-icon-right">
                                    <em class="icon ni ni-info" style="margin-left: 55PX;margin-top: -11PX;color:#241c4f;"></em>
                                </div>
                                Incurred Date<span class="mandatory">
                                    *
                                </span>

                                <span class="tooltip">Section 1.62-2(g)(2)(i) of the IRS provides a fixed date method safe harbor for purposes of satisfying the 'reasonable period of time' requirement. Under this safe harbor, an expense substantiated to the payor within 60 days after it is paid or incurred will be treated as substantiated within a reasonable period of time.</span>

                            </label>
                            <div class="form-control-wrap">
                                <input class="form-control" type="date" id="expenseDate" asp-for="expenseAccurred" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="from-group">
                        


                                <label class="form-label" style="color:#241c4f" for="expenseCategory">
                                Expense Category<span class="mandatory">*</span>
                                </label>
                            <select class="form-select" id="expensecat" required name="ecatagory[]" multiple="multiple" data-placeholder="Select Multiple options">
                                    <option value="">Select Expense Category</option>
                                    <option value="Administrative">Administrative</option>
                                    <option value="Communication">Communication</option>
                                    <option value="Dues & Subscriptions">Dues & Subscriptions</option>
                                    <option value="Education">Education</option>
                                    <option value="Lodging">Lodging</option>
                                    <option value="Marketing (including lunch & learns)">Marketing (including lunch & learns)</option>
                                    <option value="Meals & Entertainment (deductible at 50%)">Meals & Entertainment (deductible at 50%)</option>
                                    <option value="Mileage">Mileage</option>
                                    <option value="Office Supplies">Office Supplies</option>
                                    <option value="Travel">Travel</option>
                                <option value="Other">Other</option>
                                </select>
                       

                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label tooltip-container" for="expenseDate">
                                <div class="form-icon form-icon-right">
                                    <em class="icon ni ni-info" style="margin-left: 55PX;margin-top: -11PX;"></em>
                                </div>
                                Incurred Date<span class="mandatory">
                                    *
                                </span>

                                <span class="tooltip">Section 1.62-2(g)(2)(i) of the IRS provides a fixed date method safe harbor for purposes of satisfying the 'reasonable period of time' requirement. Under this safe harbor, an expense substantiated to the payor within 60 days after it is paid or incurred will be treated as substantiated within a reasonable period of time.</span>

                            </label>
                            <div class="form-control-wrap">
                                <input class="form-control" type="date" id="expenseDate" asp-for="expenseAccurred" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6" id="othercatsection" style="display:none;">
                        <div class="form-group">
                            <label class="form-label" style="color:#241c4f" for="expenseOccurred">
                                Other Category<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <input class="form-control" id="othercat" type="text" name="Othercat">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" style="color:#241c4f" for="expenseCategory">
                                Cost Center ID<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <select class="form-select"  required asp-for="costcenterid">
                                    <option value="">Select Cost Center</option>
                                    @foreach (var item in ViewBag.costexpense)
                                    {
                                        <option value="@item.CostCenterID">@item.CostCenterID</option>
                                    }

                                    <!-- Add more options here if needed -->
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label tooltip-container" for="vendorName">
                                <div class="form-icon form-icon-right" >
                                    <em class="icon ni ni-info" style="margin-left: 55PX;margin-top: -11PX;"></em>
                                </div>
                                Vendor Name<span class="mandatory">*

                                
                                </span>
                             
                                <span class="tooltip">If this is a reimbursement for multiple expenses on your credit card just type "My Credit Card" for vendor, if it is for another employee in your Cost Center then please write type their name in as the vendor</span>

                            </label>
                            <div class="form-control-wrap">
                                <input type="text" required class="form-control" id="vendorName" asp-for="vandorName">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" style="color:#241c4f" for="supportingDocs">
                                Supporting Documents<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <input required type="file" id="supportingDocs" asp-for="SupportingMedia" accept=".pdf, .doc, .docx">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" style="color:#241c4f" for="expenseDescription">
                                Description <span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <textarea class="form-control" type="number" asp-for="expenseDescription" required style="min-height:auto;"></textarea>
                            </div>
                        </div>
                    </div>
                    <input type="text" class="custom-control-input" hidden name="newform" value="" id="newforminput">


             
                </div>
                <br />
                <div class="col-12" style="color:#241c4f">
                    <h8>Per company policy, if a branch is not fully reserved, managers are not approved to spend in excess of the expenses already being paid by the branch. Any expenses submitted in that situation are unauthorized and will not be reimbursed through the cost center. You may be able to use the employee expense - Tax Benefit Plan. If you have any questions or concerns, please contact your direct manager or the finance department.</h8>

                </div>
                <div class="row">

                    <div class="col-lg-2">
                        <div class="form-group">
                            <button type="submit" id="submitform" class="btn btn-lg btn-primary">Submit</button>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="form-group">
                            <button type="button" class="btn btn-lg btn-primary" id="Newform">Submit and Add New</button>
                        </div>
                    </div>

                </div>


                
            </form>
        </div>
    </div>
</div>
<script src="~/theme/assets/js/bundle.js"></script>
<script type="text/javascript">
  



    $(document).ready(function () {

        $("#expensecat").change(function () {
            var $select = $('#expensecat');
            var test="0";
            var selectedOptions = $select.find('option:selected');
            selectedOptions.each(function () {
                var selectedValue = $(this).val();
                if(selectedValue=="Other")
                {
                    test="1";
                    $("#othercatsection").show();
                    $("#othercat").attr("required", true);
                }
            });
            if(test=="0")
            {
                $("#othercatsection").hide();
                $("#othercat").attr("required", false);
            }

        
        });


       








        $("#Newform").click(function () {
            $("#newforminput").val("New Val");
            $("#submitform").click();

            // You can perform other actions here
        });
      
    });

</script>