@model Expense_Vendor_Management.Models.EmployeeExpense

@{
    ViewData["Title"] = "ExpenseForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .mandatory {
        color: red;
    }

    @@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&display=swap');


    .tooltip-container {
        cursor: pointer;
        position: relative;
        display: inline-block;
    }

    .tooltip {
        opacity: 0;
        z-index: 99;
        color: #bbb;
        width: 240px;
        display: block;
        font-size: 14px;
        font-family: 'cairo',serif;
        padding: 5px 10px;
        border-radius: 3px;
        text-align: center;
        text-shadow: 1px 1px 2px #111;
        background: rgba(51,51,51,0.9);
        border: 1px solid rgba(34,34,34,0.9);
        box-shadow: 0 0 3px rgba(0,0,0,0.5);
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        position: absolute;
        right: -80px;
        bottom: 40px;
    }

        .tooltip:before, .tooltip:after {
            content: '';
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid rgba(51,51,51,0.9);
            position: absolute;
            bottom: -10px;
            left: 43%;
        }

    .tooltip-container:hover .tooltip, a:hover .tooltip {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
</style>

<div class="nk-block nk-block-lg">
    
    <div class="card card-bordered">
        <div class="card-inner">
            <div class="card-head">
                <h5 class="card-title">Expense Form</h5>
            </div>
            <form asp-action="ExpenseForm" asp-controller="AllForms" id="fileuploadlist" enctype="multipart/form-data" method="post">
                <div class="row g-4">
                    <input class="form-control" type="date" id="submissionDate" hidden asp-for="submissionDate" value="@DateTime.Now">


                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="expenseOccurred">
                                Amount<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <input class="form-control" type="number" asp-for="amount" required>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">


                            <label class="form-label tooltip-container" for="expenseDate">
                                <div class="form-icon form-icon-right">
                                    <em class="icon ni ni-info" style="margin-left: 55PX;margin-top: -11PX;"></em>
                                </div>
                                Expense Date<span class="mandatory">
                                    *
                                </span>

                                <span class="tooltip">Please Add Text here</span>

                            </label>
                            <div class="form-control-wrap">
                                <input class="form-control" type="date" id="expenseDate" asp-for="expenseOccurred" required>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="expenseCategory">
                                Expense Category<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <select class="form-select" id="expenseCategory" asp-for="expenseCategory">
                                    <option value="">Select Expense Category</option>
                                    <option value="Administrative">Administrative</option>
                                    <option value="Communication">Communication</option>
                                    <option value="Dues & Subscriptions">Dues & Subscriptions</option>
                                    <option value="Education">Education</option>
                                    <option value="Lodging">Lodging</option>
                                    <option value=" Marketing (including lunch & learns)"> Marketing (including lunch & learns)</option>
                                    <option value="Meals & Entertainment (deductible at 50%)"> Meals & Entertainment (deductible at 50%)</option>
                                    <option value="Mileage">Mileage</option>
                                    <option value="Office Supplies">Office Supplies</option>
                                    <option value="Travel">Travel</option>

                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label tooltip-container" for="vendorName">
                                <div class="form-icon form-icon-right">
                                    <em class="icon ni ni-info" style="margin-left: 55PX;margin-top: -11PX;"></em>
                                </div>
                                Vendor Name<span class="mandatory">
                                    *
                                </span>

                                <span class="tooltip">If this is a reimbursement for multiple expenses on your credit card just type "My Credit Card" for vendor</span>

                            </label>
                            <div class="form-control-wrap">
                                <input type="text" required class="form-control" id="vendorName" asp-for="vandorName">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="supportingDocs">
                                Supporting Documents<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <input type="file" id="supportingDocs" asp-for="SuportingMedia" accept=".pdf, .doc, .docx">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="expenseDescription">
                                Expense Description<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <textarea class="form-control" type="number" name="text" required style="min-height:auto;"></textarea>
                            </div>
                        </div>
                    </div>



                    <input type="text" class="custom-control-input" hidden name="newform" value="" id="newforminput">



                    <div class="col-lg-2">
                        <div class="form-group">
                            <button type="submit" id="submitform" class="btn btn-lg btn-primary">Submit</button>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="form-group">
                            <button type="button" class="btn btn-lg btn-success" id="Newform">Submit and Add New</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/theme/assets/js/bundle.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#Newform").click(function () {
            $("#newforminput").val("New Val");
            $("#submitform").click();

            // You can perform other actions here
        });

    });

</script>