@model Expense_Vendor_Management.Models.Vendor

@{
    ViewData["Title"] = "VendorForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .hidden {
        display: none;
    }

    .mandatory {
        color: red;
    }
</style>

<div class="nk-block nk-block-lg">
      <div class="card card-bordered">
        <div class="card-inner">
            <div class="card-head">
                <h5 class="card-title">Vendor Form</h5>
            </div>
            <form asp-action="VendorForm" asp-controller="AllForms" id="fileuploadlist" enctype="multipart/form-data" method="post">
                <div class="row g-4">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="full-name-1">
                                Vendor Name<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <input type="Text" required class="form-control" asp-for="vendorName" id="full-name-1">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                        <div class="col-lg-8">
                            <div class="form-group">
                                <label class="form-label">Contact Information</label>
                                <span class="form-note">would you want to Add Customer Information</span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <ul class="custom-control-group g-3 align-center flex-wrap">
                                <div class="custom-control custom-switch" style="margin-left:60PX">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                    <label class="custom-control-label" for="customSwitch1">Yes/No</label>
                                </div>


                            </ul>
                        </div>
                        </div>
                    </div>

                    <input type="text" class="custom-control-input" hidden name="newform" value="" id="newforminput">


                    <div class="col-lg-6" style="display:none" id="customername">
                                <div class="form-group">
                                    <label class="form-label">
                                        Contact Name<span class="mandatory">*</span>
                                    </label>
                                    <div class="form-control-wrap">
                                        <input asp-for="ContactName" id="ContactName" class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                    <div class="col-lg-6" style="display:none" id="customerEmail">
                                <div class="form-group">
                                    <label class="form-label">
                                        Contact Email<span class="mandatory">*</span>
                                    </label>
                                    <div class="form-control-wrap">
                                        <input asp-for="ContactEmail" id="ContactEmail" class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                    <div class="col-lg-6" style="display:none" id="customerPhone">
                                <div class="form-group">
                                    <label class="form-label">
                                        Contact Phone<span class="mandatory">*</span>
                                    </label>
                                    <div class="form-control-wrap">
                                        <input asp-for="ContactPhone" id="ContactPhone" class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                    <div class="col-lg-6" style="display:none" id="customerNumber">
                                <div class="form-group">
                                    <label class="form-label">
                                        Contact website<span class="mandatory">*</span>
                                    </label>
                                    <div class="form-control-wrap">
                                        <input asp-for="ContactWebsite" id="ContactWebsite" class="form-control" type="text">
                                    </div>
                                </div>
                            </div>

                    </span>
                    
                    
                    
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="costCenter">
                                Cost Center<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <input type="text" required class="form-control" id="costCenter" asp-for="costCenter">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="productCenter">
                                Service Type<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <select class="form-control" id="productCenter" asp-for="poductType">
                                    <option value="coaching">Coaching</option>
                                    <option value="Correspondent Lender">Correspondent Lender</option>
                                    <option value="Individual Consultant">Individual Consultant</option>
                                    <option value="Insurance">Insurance</option>
                                    <option value="Leads">Leads</option>
                                    <option value="Lease">Lease</option>
                                    <option value="Marketing">Marketing</option>
                                    <option value="Professional Service">Professional Service</option>
                                    <option value="Software">Software</option>
                                    <option value="Utilities">Utilities</option>
                                    <option value="Verification Service">Verification Service</option>
                                    <option value="Warehouse Lender">Warehouse Lender</option>
                                    <option value="Wholesale Lender">Wholesale Lender</option>
                                    <option value="Others">Others</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6" style="display:none" id="othersermain">
                        <div class="form-group">
                            <label class="form-label">
                                Other Service<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <input type="text" name="otherserv" id="otherserv" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label">
                                Product Category<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <select class="form-control" required id="Pcat" asp-for="catagory">
                                    <option selected>Accounting</option>
                                    <option>Building</option>
                                    <option>Compliance</option>
                                    <option>Insurance</option>
                                    <option>Investor</option>
                                    <option>Legal</option>
                                    <option>Marketing</option>
                                    <option>Operations</option>
                                    <option>Sales</option>
                                    <option>Others</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6" style="display:none" id="othercatmain">
                        <div class="form-group">
                            <label class="form-label">
                                Other Category<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <input type="text" name="othercat" id="othercat" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label">
                                Critical Vendor<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <select class="form-control" asp-for="criticalVendor">
                                    <option selected value="Yes">Yes</option>
                                    <option value="No">NO</option>
                                </select>
                            </div>
                        </div>
                    </div>
          

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label">
                                Contract Documents<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <input type="file" asp-for="Contractdoc" required class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label">
                                Assessments<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <input type="file" required asp-for="assesmentsdoc" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="otherdocument">
                                Other Documents
                            </label>
                            <div class="form-control-wrap">
                                <input type="file" asp-for="otherdoc" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="paymentAmount">
                                Payment Amount<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <select class="form-control" id="paymentAmount" onchange="toggleTextBox()">
                                    <option value="">Select an Option</option>
                                    <option value="fixed">Fixed Amount</option>
                                    <option value="other">Variable</option>
                                </select>
                                <input type="text" id="paymentAmountTextBox" asp-for="paymentAmount" class="form-control hidden" placeholder="Enter Amount">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label">
                                Auto Payment<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <select class="form-control" asp-for="autoPayment" id="paymentAmount">
                                    <option selected value="Yes">Yes</option>
                                    <option value="No">NO</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="contractExpiration">
                                Contract Expiration<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <input type="date" asp-for="contractExpiration" class="form-control" id="contractExpiration" min="@DateTime.Now.ToString("yyyy-MM-dd")"/>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label">
                                Auto Renew<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <select class="form-control" required asp-for="autoRenew">
                                    <option selected value="Yes">Yes</option>
                                    <option value="No">NO</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="dateToCancel">
                                Date To Cancel<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <input class="form-control" asp-for="dateToCancel" type="date" id="dateToCancel">
                            </div>
                        </div>
                    </div>

                           
                    

                 
                          
                            <div class="col-lg-6 align-center">
                                <div class="col-lg-7">
                                    <div class="form-group">
                                        <label class="form-label">Technology vendor</label>
                                        <span class="form-note">Is this venodr a technology vendor Y/N</span>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                            <ul class="custom-control-group g-3 align-center flex-wrap">
                                <li>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" value="true" checked name="TechnolgyVendor" id="reg-enable1">
                                        <label class="custom-control-label" for="reg-enable1">Yes</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" value="false" name="TechnolgyVendor" id="reg-disable1">
                                        <label class="custom-control-label" for="reg-disable1">No</label>
                                    </div>
                                </li>
                            </ul>

                                </div>
                            </div>
                    <div class="col-lg-6 align-center">
                        <div class="col-lg-7">
                            <div class="form-group">
                                <label class="form-label">Customer Access</label>
                                <span class="form-note">Will the Vendor have access to Customer or employee Personal/Private Information (PII)</span>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <ul class="custom-control-group g-3 align-center flex-wrap">
                                <li>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" checked value="true" asp-for="CustomerAccess" id="reg-enable">
                                        <label class="custom-control-label" for="reg-enable">Yes</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" value="false" asp-for="CustomerAccess" id="reg-disable">
                                        <label class="custom-control-label" for="reg-disable">No</label>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
            
                
   
                    <div class="col-lg-2">
                        <div class="form-group">
                            <button type="submit" id="submitform" class="btn btn-lg btn-primary">Submit</button>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="form-group">
                            <button type="button" class="btn btn-lg btn-success" id="Newform">Submit and Add New</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
   
</div>
<script src="~/theme/assets/js/bundle.js"></script>
<script src="~/theme/assets/js/scripts.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#Newform").click(function () {
            $("#newforminput").val("New Val");
            $("#submitform").click();

            // You can perform other actions here
        });
        

        $("#productCenter").change(function () {
            if ($("#productCenter").val() == "Others") {
                $("#otherserv").prop("required", true);
                $('#othersermain').show();
            }
            else {
                $("#otherserv").prop("required", false);
                $('#othersermain').hide();
            }
        });


        $("#Pcat").change(function()
        {
            if($("#Pcat").val()=="Others")
            {
                $("#othercat").prop("required", true);
                $('#othercatmain').show();
            }
            else
            {
                $("#othercat").prop("required", false);
                $('#othercatmain').hide();
            }
        });

        // Original function when the checkbox is changed
        $("#customSwitch1").change(function () {
            if ($(this).is(":checked")) 
            {
                $('#customername').show();
                $('#customerEmail').show();
                $('#customerPhone').show();
                $('#customerNumber').show();
                $("#ContactName").prop("required", true);
                $("#ContactEmail").prop("required", true);
                $("#ContactPhone").prop("required", true);
                $("#ContactWebsite").prop("required", true);

          
            } else {
                $('#customername').hide();
                $('#customerEmail').hide();
                $('#customerPhone').hide();
                $('#customerNumber').hide();
                $("#ContactName").prop("required", false);
                $("#ContactEmail").prop("required", false);
                $("#ContactPhone").prop("required", false);
                $("#ContactWebsite").prop("required", false);
            }
        });
    });
    function toggleTextBox() {
        var select = document.getElementById("paymentAmount");
        var textBox = document.getElementById("paymentAmountTextBox");

        if (select.value === "fixed") {
            textBox.classList.remove("hidden");
        } else {
            textBox.classList.add("hidden");
        }
    }
</script>
