@model Expense_Vendor_Management.Models.Vendor

@{
    ViewData["Title"] = "VendorForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .hidden {
        display: none;
    }

    .mandatory {
        color: red;
    }
</style>

<div class="nk-block nk-block-lg">
    <div class="nk-block-head">
        <div class="nk-block-head-content">
            <h4 class="title nk-block-title">Basic Details for Vendor</h4>
        </div>
    </div>
    <div class="card card-bordered">
        <div class="card-inner">
            <div class="card-head">
                <h5 class="card-title">Vendor Form</h5>
            </div>
            <form asp-action="VendorForm" asp-controller="AllForms" id="fileuploadlist" enctype="multipart/form-data" method="post">
                <div class="row g-4">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="full-name-1">
                                Vendor Name<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <input type="Text" required class="form-control" asp-for="vendorName" id="full-name-1">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="costCenter">
                                Cost Center<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <input type="text" required class="form-control" id="costCenter" asp-for="costCenter">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="productCenter">
                                Product Type<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <select class="form-select" id="productCenter" asp-for="poductType">
                                    <option value="">Select Product Center</option>
                                    <option selected value="Lease">Lease</option>
                                    <option value="Utilities">Utilities</option>
                                    <option value="Warehouse Lender">Warehouse Lender</option>
                                    <option value="Software">Software</option>
                                    <option value="Marketing">Marketing</option>
                                    <option value="Individual Consultant">Individual Consultant</option>
                                    <option value="Wholesale Lender">Wholesale Lender</option>
                                    <option value="Correspondent Lender">Correspondent Lender</option>
                                    <option value="Insurance">Insurance</option>
                                    <option value="Verification Service">Verification Service</option>
                                    <option value="Professional Service">Professional Service</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label">
                                Product Category<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <select class="form-control" required asp-for="catagory">
                                    <option selected>
                                        Legal
                                    </option>
                                    <option>
                                        Compliance
                                    </option>
                                    <option>
                                        Accounting
                                    </option>
                                    <option>
                                        Marketing
                                    </option>
                                    <option>
                                        Sales
                                    </option>
                                    <option>
                                        Investor
                                    </option>
                                    <option>
                                        Building
                                    </option>
                                    <option>
                                        Operations
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label">
                                Critical Vendor<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <select class="form-control" asp-for="criticalVendor">
                                    <option selected value="Yes">Yes</option>
                                    <option value="No">NO</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label">
                                Contract Documents<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <input type="file" asp-for="Contractdoc" required class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label">
                                Assessments<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <input type="file" required asp-for="assesmentsdoc" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="otherdocument">
                                Other Documents
                            </label>
                            <div class="form-control-wrap">
                                <input type="file" asp-for="otherdoc" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="paymentAmount">
                                Payment Amount<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <select class="form-control" id="paymentAmount" onchange="toggleTextBox()">
                                    <option value="">Select an Option</option>
                                    <option value="fixed">Fixed Amount</option>
                                    <option value="other">Other Amount</option>
                                </select>
                                <input type="text" id="paymentAmountTextBox" asp-for="paymentAmount" class="form-control hidden" placeholder="Enter Amount">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label">
                                Auto Payment<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <select class="form-control" asp-for="autoPayment" id="paymentAmount">
                                    <option selected value="Yes">Yes</option>
                                    <option value="No">NO</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="contractExpiration">
                                Contract Expiration<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <input type="date" asp-for="contractExpiration" class="form-control" id="contractExpiration">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label">
                                Auto Renew<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <select class="form-control" required asp-for="autoRenew">
                                    <option selected value="Yes">Yes</option>
                                    <option value="No">NO</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="dateToCancel">
                                Date To Cancel<span class="mandatory">*</span>
                            </label>
                            <div class="form-control-wrap">
                                <input class="form-control" asp-for="dateToCancel" type="date" id="dateToCancel">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-lg btn-primary">Save Information</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function toggleTextBox() {
        var select = document.getElementById("paymentAmount");
        var textBox = document.getElementById("paymentAmountTextBox");

        if (select.value === "fixed") {
            textBox.classList.remove("hidden");
        } else {
            textBox.classList.add("hidden");
        }
    }
</script>
